.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-5%);
}

.theForm{
    width: 70%;
}

.FormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.FormContainer h1 {
    margin: 2rem;
}

.standards{
    margin-top: 1rem;
}

.checks_radios {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.allHobbies, .allGenders{
    text-align: center;
    margin-top: 1rem;
}

.theGender, .theHobbies {
    display: flex;
    gap: 1rem;
}

.submitbtn{
    text-align: center;
    margin-top: 2rem;
}